@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --fc-button-bg-color: #80d1cc;
  --fc-button-border-color: #80d1cc;
  --fc-button-hover-bg-color: #008f82;
  --fc-button-hover-border-color: #008f82;
  --fc-today-bg-color: #80d1cc;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px 15px;
  background-color: #80d1cc;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
}

button:hover {
  background-color: #008f82;
  transition: background-color 0.3s ease;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-bottom: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  text-decoration: underline;
}

.status-to-do select {
  background-color: orange;
}

.status-done select {
  background-color: #008f82;
}

select {
  background-color: #80d1cc;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 20px;
  padding-right: 30px;
}

select:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='24' height='24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 5px center;
}
